{% extends 'mainsite/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <h1>{{ context_title }}</h1>

            {% if popular_books_list %}
            {% for book in popular_books_list %}

            <div>
                <table>
                  <tr>
                    <td>
                        <!--'static/media/images/_cat_500_DtgUPnC.jpg'<img src=cat_500.jpg' alt="Magic cat">--!>
                        <img src={{ book.book_image.url }} alt={{ book.books_name }}>
                    </td>
                    <td>
                        <h2>{{ book.book_title }}</h2>
                        <p>{{ book.book_description }}</p>
                        <p>{% if book.book_price != 0 %} Цена: {{ book.book_price }} руб.{% else %} Бесплатно {% endif %}
                            <a href="{% url 'book_detail' book.id %}"><button type="button" id="buyButton" {% if book.book_price == 0 %} disabled {% endif %}>Купить</button></a>
                            <a href="{% url 'book_detail' book.id %}"> <button type="button" id="readButton" {% if book.book_price != 0 %} disabled {% endif %}>Читать</button> </a>
                            <a href="{% url 'book_detail' book.id %}"> <button type="button" id="listenButton"{% if book.book_price != 0 %} disabled {% endif %}>Слушать</button> </a>
                        </p>
                        <p>Рейтинг: Сайт: {{book.book_rate_site}} | Apple: {{book.book_rate_apple}} | Android {{book.book_rate_android}} | <a href="{% url 'vote_create' %}">Проголосовать</a></p>
                        <p>Отзывы:  <a href="{% url 'book_detail' book.id %}">Сайт</a> | <a href="">iOS</a> | <a  target="_blank" href={{ book.book_android_link }}>Android</a> | <a href="{% url 'vote_create' %}">Оставить отзыв</a></p>
                        <p>Бесплатный фрагмент
                            <a href="{% url 'book_detail' book.id %}"> <button type="button" id="readButton">Читать</button> </a>
                            <a href="{% url 'book_detail' book.id %}"> <button type="button" id="listenButton">Слушать</button> </a>
                        </p>
                        <p>{{ book.book_favourite_comment }}</p>
                    </td>
                  </tr>
                </table>
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p>No books are available.</p>
        {% endif %}

{% endblock %}