{% extends 'mainsite/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <h1>Популярные</h1>

            {% if popular_books_list %}
            {% for book in popular_books_list %}

            <div>
                <table>
                  <tr>
                    <td>
                        <!--'static/media/images/_cat_500_DtgUPnC.jpg'<img src=cat_500.jpg' alt="Magic cat">--!>
                        <img src={{ book.book_image.url }} alt={{ book.books_name }}>
                    </td>
                    <td>
                        <h2>{{ book.book_title }}</h2>
                        <p>{{ book.book_description }}</p>
                        <p>{% if book.book_price != 0 %} Цена: {{ book.book_price }} руб.{% else %} Бесплатно {% endif %}</p>
                        <p><button type="button" id="buyButton">Купить</button> <button type="button" id="downloadButton">Скачать</button></p>
                        <p>Рейтинг: Сайт: {{book.book_rate_site}} | Apple: {{book.book_rate_apple}} | Android {{book.book_rate_android}} | <a href="">Проголосовать</a></p>
                        <p>Отзывы:  <a href="">Сайт</a> | <a href="">iOS</a> | <a href="">Android</a> | <a href="">Оставить отзыв</a></p>
                        <p>Бесплатный фрагмент <button type="button" id="readButton">Читать</button>  <button type="button" id="listenButton">Слушать</button></p>
                        <p><a target="_blank" href={{ book.book_free_single_html_fragment.url }}>html</a> | <a target="_blank" href={{ book.book_free_pdf_fragment.url }} >pdf</a> </p>
                        <audio  controls loop>
                            <source src={{ book.book_free_audio_fragment.url }}>
                            This browser doesn't support audio
                        </audio>
                        <p>Как читать и слушать после покупки</p>
                        <p>Получить скидочные баллы</p>
                    </td>
                  </tr>
                </table>
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p>No books are available.</p>
        {% endif %}

{% endblock %}